@model GigHub.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<ul class="gigs">
    @foreach(var gig in Model.UpCommingGigs)
    {
    <li>
        <div class="date">
            <div class="month">
                @gig.DateTime.ToString("MMM")
            </div>
            <div class="day">
                @gig.DateTime.ToString("d ")
            </div>
        </div>
        <div class="details">
            @if (Model.IsAuthenticated)
            {
                <button data-followee-id="@gig.ArtistId" class="btn btn-link btn-sm pull-right btn-relationship">Follow</button>
            }

            <span class="artist">
                @gig.Artist.Name
            </span>

            <span class="genre">
                @gig.Genre.Name
            </span>
            @if (Model.IsAuthenticated)
            {
                <button data-gig-id="@gig.Id" class="btn btn-default btn-sm pull-right btn-attendance">Going?</button>
            }
        </div>
    </li>
        
    }
</ul>

@section scripts{
    
    <script>
        $(document).ready(function () {
            $(".btn-attendance").click(function(event) {
                $.post("/api/attendances", { gigId : $(event.target).attr("data-gig-id") })
                    .done(function () {

                        $(event.target)
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Somthing wrong.");
                    });
            });
            $(".btn-relationship").click(function (e)
            {
                $.post("/api/relationships", { followeeId: $(e.target).attr("data-followee-id") })
                    .done(function () {
                        $(e.target)
                            .removeClass("btn-link")
                            .addClass("btn-success")
                            .text("Followed");
                    })
                    .fail(function () {
                        alert("Somthing wrong.");
                    });
            });
        });
    </script>

}